@font-face {
  	font-family: 'Open Sans';
  	font-style: normal;
  	font-weight: 400;
  	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  	font-family: 'Open Sans';
  	font-style: normal;
  	font-weight: 700;
  	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

h2 {
	font-size: 250%;
	font-weight: 800;
	text-align: center;
	text-shadow: 4px 4px 2px rgba(5, 5, 5, 0.71);	
}

.navbar {
	background-color: #464649;
	max-height: 100px;
}

.navbar .container {
	height: 80px; 
}

.logo {
	max-height: 50px;
}

.navbar .btn-default {
	color: #fff;
	background-color: rgba(0,0,0,0);
	border-color: #fff;
}

.navbar .navbar-collapse {
	margin-top: 20px;
}

.navbar .navbar-collapse a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.about {
	color: white;
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.71);
	width: 100%;
	float: left;
	height: 100vh;
    background:url(../img/aboutlogin.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}

	.about p {
		color: white;
		padding-top: 25vh;
		font-size: 200%;
		font-weight: 700;
		text-align: center;
		text-shadow: 4px 4px 2px rgba(5, 5, 5, 0.71);
	}
	
	.about .contact-form {text-align: center;}
	
	.about .contact-form input[type=email] {
		background-color: rgba(255, 255, 255, 0.85);
	}

.how {
	height: 100vh;
	color: white;
	width: 100%;
	float: left;
    background:url(../img/badgeitoniphone.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;	
    background-position: center;
}

	.how h2 {
		padding: 30vh 5vw 0 5vw;
		margin-bottom: 5vh;
	}

	.how p {
		font-size: 200%;
		font-weight: 700;
		text-align: center;
		text-shadow: 4px 4px 2px rgba(5, 5, 5, 0.71);
	}
	
.team {
	padding: 5vh 0;
	float: left;
	background: #36363a;
	color: #fff;
	width: 100%;
}
	.team .row {margin: 0;}
	.team h2 {
		margin-bottom: 5vh;
	}

.photo {
	border: 5px solid white;
	border-radius: 50%;
	padding: 2%;
}

.about-me {margin-top: 15px;}
	.about-me h3 {text-align: center;}
	.about-me p {text-align: center;}

.badge-creator {
    padding: 100px 0;
    background: #36363a;
    color: #fff;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

.badge-creator h2 {
    margin: 0 0 20px 0;
    text-align: center;
}

.badge-creator-inner {
    margin-bottom: 15px;
}

.badge-creator-inner .canvas {
    padding-left: 0;
}

.tools {
    border: 4px solid #fff;
    height: 300px;
    overflow-y: auto;
    padding: 0;
}

#c1 {border: 4px solid #fff;}

.shape {
    margin: 10%;
}

#challenge-create input[type=text] {
    width: 100%;
    border: 4px solid #fff;
    height: 50px;
    color: #fff;
    background: #36363a;
    font-size: 200%;
    padding-left: 2%;
    padding-right: 2%;
}

#challenge-create .name-it {
    padding: 0;
    margin-bottom: 15px;
}

#challenge-create .create-it {
    text-align: right;
    padding: 0;
}

#challenge-create input[type=submit] {
    border-radius: 0;
    width: 100%;
}

