<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="css/bootstrap3.3.4.min.css">
        <link rel="stylesheet" href="css/style2.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BADGEit | Challenge Accepted!!</title>
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
            <header class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="/img/badgeIt.png" class="img-responsive logo">
                    </a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a role="button" href="{{ url_for('login') }}" class="btn btn-default">login</a></li>
                    </ul>
                </div>
            </header>
        </nav>


    <form action="{{url_for('create_challenge_page') }}">
        <button type=submit>Create Challenge!</button>
    </form>

    <form action="{{url_for('analytics') }}">
        <button type=submit>analytics!</button>
    </form>

    {% if challenges %}
        {% for challenge in challenges %}
        <li>{{ challenge }}</li>
        {% endfor %}
    {% else %}
        <p>there are no challenges currently in the system, please try again later or create your own!</p>
    {% endif %}
</body>
</html>
