{% extends "layout.html" %}
{% block body %}
<!-- Start Badge Creation Tool -->
    <section class="container badge-creator">
        <h2>BADGE BUILDER</h2>
        <div class="row badge-creator-inner">
            <div class="col-xs-8  col-lg-3 col-xs-offset-1 col-lg-offset-4 canvas">
                <canvas id="c1" width="100%" height="100%"></canvas>
            </div>
            <div class="tools col-xs-2 col-lg-1">
                <div class="shape circle" data-draw-radius="30">
                    <img src="img/circle.png" alt="" class="img-responsive">
                </div>
                <div class="shape line" data-draw-width="60">
                    <img src="img/line.png" alt="" class="img-responsive">
                </div>
                <div class="shape square" data-draw-width="60" data-draw-height="60">
                    <img src="img/square.png" alt="" class="img-responsive">
                </div>
                <div class="shape triangle" data-draw-width="60" data-draw-height="60">
                    <img src="img/triangle.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>

        <form id="challenge-create" action="{{ url_for('create_challenge') }}">
            <div class="row">
                <div class="name-it col-xs-10 col-lg-4 col-xs-offset-1 col-lg-offset-4">
                    <input name="badge-title" placeholder="Name it!" type="text">
                </div>
            </div>
            <div class="row">
                <div class="name-it col-xs-10 col-lg-4 col-xs-offset-1 col-lg-offset-4">
                    <input name="badge-text" placeholder="Describe it!" type="text">
                </div>
            </div>
            <div class="row">
                <div class="create-it col-xs-2 col-xs-offset-9 col-lg-1 col-lg-offset-7">
                    <input class="btn btn-default" type="submit" value="BADGEit"/>
                </div>
            </div>
        </form>
    </section>
{% endblock %}