
<head>
    <link rel="stylesheet" href="css/bootstrap3.3.4.min.css">
    <link rel="stylesheet" href="css/style2.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BADGEit | Challenge Accepted!!</title>
</head>
<body>		
    <nav class="navbar navbar-fixed-top">
        <header class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="img/badgeIt.png" class="img-responsive logo">
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a role="button" href="{{ url_for('login') }}" class="btn btn-default">login</a></li>
                </ul>
            </div>
        </header>
    </nav>
    {% block nav %}{% endblock %}
