{% extends "layout.html" %}
{% block body %}
<section class="hidden-xs about container-fluid">
			<div class="row">
				<div class="col-sm-12 col-md-8 col-md-offset-2">
					<p>BADGEit is a platform where you can challenge your friends to create awareness about how awesome you are. Companies can use BADGEit to promote their brand challenging their advocates.</p>
					<div class="row">
						<div class="col-xs-6 col-xs-offset-3">
							
						</div>
					</div>
				</div>
			</div>
		</section>
	
    <section class="visible-xs about-sm container-fluid">
			<div class="row">
				<div class="col-sm-12 col-md-8 col-md-offset-2">
					<p>BADGEit is a platform where you can challenge your friends to create awareness about how awesome you are. Companies can use BADGEit to promote their brand challenging their advocates.</p>
					<div class="row">
						<div class="col-xs-6 col-xs-offset-3">
							
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="hidden-xs how container-fluid">
			<div class="row">
				<div class="col-sm-12 col-md-8 col-md-offset-2">
					<h2>How it works</h2>
					<p>BADGEit let's you challenge your friends and get rewards for taking dares. Looking for a tool to keep track of your group, know who is the best and get a reward for it? Badge it and start rolling!</p>
				</div>
			</div>
		</section>
		
        <section class="visible-xs how-xs container-fluid">
			<div class="row">
				<div class="col-sm-12 col-md-8 col-md-offset-2">
					<h2>How it works</h2>
					<p>BADGEit let's you challenge your friends and get rewards for taking dares. Looking for a tool to keep track of your group, know who is the best and get a reward for it? Badge it and start rolling!</p>
				</div>
			</div>
		</section>

		<section class="team container-fluid">
			<h2>Our Team</h2>
		
			<div class="row">
				<div class="member col-xs-12 col-md-6 col-lg-offset-2 col-lg-2">
					<div class="photo">
						<img src="img/eileen.jpg" class="img-responsive img-circle" alt="Eileen Cannon">
					</div>
					<div class="about-me">
						<h3>Eileen Cannon</h3>
						<p>Educator. Love learning, kids, technology, and the Yankees. Girardi checks stats and options on an iPad before he makes calls. Shouldn't teachers have the same?</p>
					</div>
				</div>
			
				<div class="member col-xs-12 col-md-6 col-lg-offset-1 col-lg-2">
					<div class="photo">
						<img src="img/giio.jpg" class="img-responsive img-circle" alt="Gio Barbieri">
					</div>
					<div class="about-me">
						<h3>Gio Barbieri</h3>
						<p>Filling StartupHouse with bootstrapping entrepreneurs. Disruptive ideas enthusiast. Firefighter at heart with a Golden State mindset.</p>
					</div>
				</div>
		
				<div class="member col-xs-12 col-md-6 col-lg-offset-1 col-lg-2">
					<div class="photo">
						<img src="img/JimSaunders.jpg" class="img-responsive img-circle" alt="Jim Saunders">
					</div>
					<div class="about-me">
						<h3>Jim Saunders</h3>
						<p>True blue Kentucky basketball fan who loves to code. I want to build things that people enjoy.</p>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="member col-xs-12 col-md-6 col-lg-offset-2 col-lg-2">
					<div class="photo">
						<img src="img/JoshuaWaller.jpg" class="img-responsive img-circle" alt="Josh Waller">
					</div>
					<div class="about-me">
						<h3>Josh Waller</h3>
						<p>Josh Waller has helped dozens of startups establish and scale their sales and marketing efforts. He’s currently leading the sales and marketing teams at Krossover.</p>
					</div>
				</div>
			
				<div class="member col-xs-12 col-md-6 col-lg-offset-1 col-lg-2">
					<div class="photo">
						<img src="img/KaushalParikh.jpg" class="img-responsive img-circle" alt="Kaushal Parikh">
					</div>
					<div class="about-me">
						<h3>Kaushal Parikh</h3>
						<p>Hacker, evangelist, and traveler who's spent the last few years working with students, building awesome things and traveling the world </p>
					</div>
				</div>
				
				<div class="member col-xs-12 col-md-6 col-lg-offset-1 col-lg-2">
					<div class="photo">
						<img src="img/stan.jpg" class="img-responsive img-circle" alt="Stan">
					</div>
					<div class="about-me">
						<h3>Stanley Joseph</h3>
						<p>NYC based designer and front-end developer. Currently working with emerging brands to create strong brand identities. </p>
					</div>
				</div>
			</div>

            <!-- Change the width and height values to suit you best -->
            <div class="typeform-widget" data-url="https://gio2.typeform.com/to/fhllq7" data-text="Contact Form" style="width:100%;height:500px;"></div>
            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
                <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_fhllq7&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=English" style="color: #999" target="_blank">Typeform</a></div>
        
{% endblock %}
