<!DOCtype html>
<html lang="en">
<head>
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/normalize.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<meta charset="UTF-8">
	<title>DOCUMENT</title>
</head>
<body>
<header>
<div class="logo">
<img src="img/badgeIt.svg">
</div>
<div class="login">
<button type="button" class="loginbtn" href="{{ url_for('login') }}">login</button>
</div>
</header>
<div class="main">
<div class="about">
<p>
BADGEit <span class="black">is a platform where you can challenge your friends to create awareness about how awesome you are. Companies can use Badgeit to promote their brand challenging their advocates.</span>
</p>
<div class="form-con"><span>Wanna learn more?</span><form action="{{url_for('email')}}"><input type="email" class="emailinput"><input type="submit" value="email us" class="submitbutton"></form></div> <!-- form-con -->
</div> <!-- about -->
<div class="howitworks">
<div class="title">How It Works</div>
<p>
BADGEit let's you challenge your friends and get rewards for taking dares. Looking for a tool to keep track of your group, know who is the best and get a reward for it? Badge it and start rolling!
</p>
</div> <!-- about -->
<div class="team">
<div class="title">Our Team</div>
<div class="teammember" id="tm1">
<div class="tm_photo">
<img src="img/eileen.jpg">
</div>
<div class="aboutme">
<div class="myname">Eileen Cannon</div>
<p>Educator. Love learning, kids, technology, and the Yankees. Girardi checks stats and options on an iPad before he makes calls. Shouldn't teachers have the same?</p></div>
</div>
<div class="teammember" id="tm1">
<div class="tm_photo">
<img src="img/giio.jpg">
</div>
<div class="aboutme">
<div class="myname">Gio Barbieri</div>
<p>Filling StartupHouse with bootstrapping entrepreneurs. Disruptive ideas enthusiast. Firefighter at heart with a Golden State mindset.</p>
</div>
</div>
<div class="teammember" id="tm1">
<div class="tm_photo">
<img src="img/JimSaunders.jpg">
</div>
<div class="aboutme">
<div class="myname">Jim Saunders</div>
<p>True blue Kentucky basketball fan who loves to code. I want to build things that people enjoy.</p>
</div>
</div>
<div class="teammember" id="tm1">
<div class="tm_photo">
<img src="img/joshuawaller.jpg">
</div>
<div class="aboutme">
<div class="myname">Josh Waller</div>
<p>Josh Waller has helped dozens of startups establish and scale their sales and marketing efforts. He’s currently leading the sales and marketing teams at Krossover.</p>
</div>
</div>
<div class="teammember" id="tm1">
<div class="tm_photo">
<img src="img/KaushalParikh.jpg">
</div>
<div class="aboutme">
<div class="myname">Kaushal Parikh</div>
<p>Hacker, evangelist, and traveler who's spent the last few years working with students, building awesome things and traveling the world </p>
</div>
</div>
<div class="teammember" id="tm1">
<div class="tm_photo">
<img src="img/stan.jpg">
</div>
<div class="aboutme">
<div class="myname">Stanley Joseph</div>
<p>NYC based designer and front-end developer. Currently working with emerging brands to create strong brand identities. </p>
</div>
</div>

</div> <!-- team -->
</div> <!-- main --> 
<div class="comingsoon">
</div>
<footer>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
